<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Grid</title>
    <link rel="stylesheet" href="scss/main.css">
</head>
<body>
    <main>
        <article class="covered">
            <section>
                <h1>We have got you covered.</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At vitae doloribus placeat tempore voluptatem porro natus, facere ratione dignissimos excepturi sunt quasi perferendis repellendus fugit ipsa numquam corrupti, unde ut!</p>
                <button>Join now</button>
            </section>
        </article>
        <article class="offer">
            <p>What do we have to offer?</p>
            <h2>Learn more</h2>
        </article>
        <article class="join">
            <p>What are you waiting for?</p>
            <h2>Join now</h2>
        </article>
        <nav>
            <a href="#" class="active">option 1</a>
            <a href="#">option 2</a>
            <a href="#">option 3</a>
            <a href="#">option 4</a>
        </nav>
        <section class="safety">
            <article class="left">
                <h1>Your personal financial safety net online.</h1>
                <button>Join now</button>
            </article>
            <article class="right">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate aut maxime facilis at quaerat nobis vitae reprehenderit hic praesentium, totam illo possimus perspiciatis, magnam explicabo expedita voluptatibus reiciendis ab porro.</p>
            </article>
            <footer class="cards">
                <article>
                    <figure class="dude">
                        <img src="img/littledude.svg" alt="">
                    </figure>
                    <h2>Children</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sed nesciunt cupiditate officia reprehenderit ut obcaecati cum blanditiis veritatis. Ex praesentium veniam architecto, iusto facilis repellendus. Quia et deleniti qui.</p>
                </article>
                <article>
                    <figure class="medium">
                        <img src="img/medium.svg" alt="">
                    </figure>
                    <h2>Just right</h2>
                    <p>Molestias deserunt beatae atque fugit. Eveniet quo, quasi voluptatem asperiores alias iste id, itaque voluptas ducimus neque molestiae animi culpa esse aliquam vitae. Nisi reiciendis dolorem temporibus ex. Quasi, repellendus!</p>
                </article>
                <article>
                    <figure class="old">
                        <img src="img/oldfart.svg" alt="">
                    </figure>
                    <h2>Old fart</h2>
                    <p>Temporibus at eveniet alias error quibusdam voluptas. Aperiam, delectus sapiente cupiditate quis necessitatibus doloribus non dolore amet dolor facilis est molestias, aliquam temporibus eaque hic, nostrum laudantium veritatis. Suscipit, voluptate?</p>
                </article>
            </footer>
        </section>
    </main>
</body>
</html>