@import './variables';

main {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: $baseline*6 $baseline*6 $baseline $baseline*12 $baseline*12;
    grid-template-areas:
    "covered covered covered offer offer offer"
    "covered covered covered join join join"
    "nav nav nav nav nav nav"
    "safety safety safety safety safety safety"
    "about about about about about about";

    article {

        &.covered {
            grid-area: covered;
            background-color: $blue;
            @include center;
            background-image: url('../img/family.png');
            background-repeat: no-repeat;
            background-position: 90% bottom;

            section {
                max-width: 20rem;
            }
        }

        &.offer {
            grid-area: offer;
            background-color: $rust;
            @include center;
        }

        &.join {
           grid-area: join;
           background-color: $yellow;
           @include center;
        }

        &.about {
            grid-area: about;
            background-color: $yellow;
            @include center;

            h1 {
                color: white;
                margin: 2rem 0;
            }

            > p {
                max-width: 30rem;
                width: 100%;
                margin: .5rem 0;  
            }
        }
    }

    .safety {
        grid-area: safety;
        background-color: $cement;
        display: grid;
        grid-template-columns: 1fr 1fr;

        article {

            &.left {
                color: white;
                padding: 4rem;
            }

            &.right {
                padding: 4rem;
            }

        }

        .cards {
            grid-column: auto / span 2;
            @include center;
            flex-direction: row;
            gap: 1rem;
            position: relative;

            > article {
                background: $white;
                max-width: 16rem;
                width: 100%;
                border-radius: $radius;
                padding: .5rem;
                height: 20rem;
                margin-bottom: -10rem;

                figure {
                    background: $yellow;
                    height: 10rem;
                    @include center;
                    justify-content: flex-end;
                    border-radius: $radius/2;
                    margin-top: -3rem;

                    &.dude {
                        background: $blue;
                    }

                    &.old {
                        background: $rust;
                    }
                }

                h2 {
                    font-size: 1.4rem;
                    color: $black;
                    text-align: center;
                    padding: 1rem 0 .5rem 0;
                }

                p {
                    font-size: .8rem;
                    opacity: .6;
                    text-align: center;
                }
            }
        }
    }
    
    nav {
        grid-area: nav;
        @include center;
        flex-direction: row;

        a {
            margin: 0 2rem;
            text-decoration: none;
            color: $black;
            opacity: .5;

            &.active {
                opacity: 1;
            }
        }
    }
}