@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre:wght@900&display=swap');
@import './variables';

:root {
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Frank Ruhl Libre', serif;
}

h1 {
   font-size: 3rem; 
   line-height: 100%;
   margin-bottom: 1rem;
}

h2 {
    font-size: 2.4rem;
    color: $white;
}

p {
    line-height: 160%;
}