/* COLORS */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre:wght@900&display=swap");
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 2rem;
  background-color: #FFF;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 999rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

main {
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 18rem 18rem 3rem 36rem;
      grid-template-rows: 18rem 18rem 3rem 36rem;
      grid-template-areas: "covered covered covered offer offer offer" "covered covered covered join join join" "nav nav nav nav nav nav" "safety safety safety safety safety safety";
}

main article.covered {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: covered;
  background-color: #C7DDEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/family.png");
  background-repeat: no-repeat;
  background-position: 90% bottom;
}

main article.covered section {
  max-width: 20rem;
}

main article.offer {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: offer;
  background-color: #F17949;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main article.join {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: join;
  background-color: #FAB131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .safety {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: safety;
  background-color: #A9A19E;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .safety article.left {
  color: white;
  padding: 4rem;
}

main .safety article.right {
  padding: 4rem;
}

main .safety article.bottom {
  background: blue;
}

main .safety .cards {
  background: hotpink;
  grid-column: auto / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  gap: 1rem;
}

main .safety .cards > article {
  background: #FFF;
  max-width: 16rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: .5rem;
  height: 20rem;
}

main .safety .cards > article figure {
  background: #FAB131;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 0.25rem;
  margin-top: -3rem;
}

main .safety .cards > article figure.dude {
  background: #C7DDEA;
}

main .safety .cards > article figure.old {
  background: #F17949;
}

main .safety .cards > article h2 {
  font-size: 1.4rem;
  color: #000;
  text-align: center;
  padding: 1rem 0 .5rem 0;
}

main .safety .cards > article p {
  font-size: .8rem;
  opacity: .6;
  text-align: center;
}

main nav {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
}

main nav a {
  margin: 0 2rem;
  text-decoration: none;
  color: #000;
  opacity: .5;
}

main nav a.active {
  opacity: 1;
}

/* COLORS */
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 2rem;
  background-color: #FFF;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 999rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

/* COLORS */
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 2rem;
  background-color: #FFF;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 999rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

:root {
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Frank Ruhl Libre', serif;
}

h1 {
  font-size: 3rem;
  line-height: 100%;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.4rem;
  color: #FFF;
}

p {
  line-height: 160%;
}

*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */